@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap');


/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/* navbar */
#full_navbar_styling {
    height: 6rem;
}

#navbar_logo_image_styling {
    height: 5rem;
}

/* links */
#link_styling {
    font-weight: 100;
    color: black;
}
#link_styling:hover {
    font-weight: bold;
}
nav a.router-link-exact-active {
  font-weight: bold;
  color: black;
}
/* scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* home page */
#image_for_landing_page {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
}

#landing_page_image {
  width: 15rem;
}

#landing_page_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f6da9f;
  padding: 2rem;
}

#promo_and_sales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2rem;
}

#deal_1, #deal_2 {
  height: 16rem;
  width: 40%;
  border-top: 2px solid black;
}

#deal_1_text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: black;
  font-weight: 400;
}

#deal_2_text {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  color: black;
  font-weight: 400;
}

#sneak_peek {
  background-color: black;
  margin-top: 1rem;
  padding: 2rem;
  height: 70vh;
}

#sneak_peek_text {
  color: #f6da9f;
}
#watch_image_carousel {
  height: 25rem;
}

#carouselExample {
  width: 30%;
}

#carouosel_watch_div {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-content: center;
}


/* footer */

#line_space {
  border-top: 2px solid black;
  margin: 2rem 10rem 2rem;
}

#footer_positioning {
  display: flex;
  flex-direction: column;
}

#links_for_footer {
  display: flex;
  justify-content: space-between;
  margin-right: 12rem;
  margin-left: 12rem;
}

#south_africa_text {
  text-decoration: none;
  color: #2c3e50;
}

#find_store_text {
  text-decoration: underline 1px;
  color: #2c3e50;
}


/* about page */

#about_sub-title_headings {
  color: black;
  text-align: left;
  margin-left: 2rem;
}

#card_title_heading {
  color: #ffc851;
}

#helpline_heading {
  color: #ffc851;
}
#card_title_heading {
  color: #ffc851;
}

#line_space_2 {
  border-top: 1px solid black;
  margin: 1rem 2rem 1rem;
}

#images_of_leadership {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.card {
  border: none;
  margin: 1rem;
}

#card_border_none {
  border: none;
}

#image_of_company_employees {
  border: 1.5px solid black;
  border-radius: 0rem;
}

#card_text_for_leadership {
  text-align: left;
  font-weight: bold;
}

#leadership_names {
  font-weight: 900;
}

#new_watch_news {
  text-align: left;
}

#card_for_the_news {
  border: 1.5px solid black;
  padding: 0.5rem;
}

#news_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image_of_partners {
  margin: 2rem;
}

#helpline {
  border: 1.5px solid black;
  width: fit-content;
  padding: 2rem;
  color: black;
}

#helpline_positioning {
  display: flex;
  justify-content: center;
}

#about_us_paragraph {
  width: 60%;
  text-align: left;
  padding: 2rem;
  display: flex;
  align-items: center;
}

#about_us_company_image {
  height: 15rem;
}

#about_position {
  display: flex;
  justify-content: center;
}


/* products */


#welcome_products {
  display: flex;
  align-items: center;
}

#welcome_product_image {
  height: 20rem;
}

#products_sub-heading {
  color: #ffc851;
  text-align: left;
  padding-left: 2rem;
}

#products_welcome_text {
  padding-left: 2rem;
  padding-right: 4rem;
  text-align: left;
}

#heading_displayed_products {
  color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#product_price {
  color: red;
}

#watches_card_styling {
  border: none;
  border-bottom: 1px solid;
}

#products_displaying {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5rem;
}

#all_buttons_display {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}

.dropdown-item:hover{
  background-color: #ffc851;
  color: black;
}

#search_button_style {
  background-color: transparent;
}

#search_button_style:hover {
  color: black;
  background-color: #ffc851;
}


/* contact us */