@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap');


/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/* navbar */

#navbar_logo_image_styling {
    height: 5rem;
}

/* links */
#link_styling {
    font-weight: 100;
    color: black;
}
#link_styling:hover {
    font-weight: bold;
}
nav a.router-link-exact-active {
  font-weight: bold;
  color: black;
}
/* scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* home page */
#media_query_image {
  display: none;
  height: auto;
  padding: 1rem;
}

#div_media_image {
  display: flex;
  justify-content: center;
}

#image_for_landing_page {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
}

#landing_page_image {
  width: 15rem;
}

#landing_page_text {
  border-bottom: 1px solid #f6da9f;
  border-top: 1px solid #f6da9f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f6da9f;
  padding: 2rem;
}

#promo_and_sales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2rem;
}

#deal_1, #deal_2 {
  height: 16rem;
  width: 40%;
  border-top: 2px solid black;
}

#deal_1_text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: black;
  font-weight: 400;
}

#deal_2_text {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  color: black;
  font-weight: 400;
}

#sneak_peek {
  background-color: black;
  margin-top: 1rem;
  padding: 2rem;
  height: 70vh;
}

#sneak_peek_text {
  color: #f6da9f;
}
#watch_image_carousel {
  height: 20rem;
}

#carouselExample {
  width: 30%;
}

#carouosel_watch_div {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-content: center;
}


/* footer */

#line_space {
  border-top: 2px solid black;
  margin: 2rem 10rem 2rem;
}







#footer_positioning {
  display: flex;
  flex-direction: column;
}

#links_for_footer {
  display: flex;
  justify-content: space-between;
  margin-right: 12rem;
  margin-left: 12rem;
}

#south_africa_text {
  text-decoration: none;
  color: #2c3e50;
}

#find_store_text {
  text-decoration: underline 1px;
  color: #2c3e50;
}


/* about page */

#about_sub-title_headings {
  color: black;
  text-align: left;
  margin-left: 2rem;
}

#card_title_heading {
  color: #ffc851;
}

#helpline_heading {
  color: #ffc851;
}
#card_title_heading {
  color: #ffc851;
}

#line_space_2 {
  border-top: 1px solid black;
  margin: 1rem 2rem 1rem;
}

#images_of_leadership {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.card {
  border: none;
  margin: 1rem;
}

#card_border_none {
  border: none;
}

#image_of_company_employees {
  border: 1.5px solid black;
  border-radius: 0rem;
}

#card_text_for_leadership {
  text-align: left;
  font-weight: bold;
}

#leadership_names {
  font-weight: 900;
}

#new_watch_news {
  text-align: left;
}

#card_for_the_news {
  border-radius: 0rem;
  border: 1.5px solid black;
  padding: 0.5rem;
}

#news_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image_of_partners {
  margin: 2rem;
}

#helpline {
  border: 1.5px solid black;
  width: fit-content;
  padding: 2rem;
  color: black;
}

#helpline_positioning {
  display: flex;
  justify-content: center;
}

#about_us_paragraph {
  width: 60%;
  text-align: left;
  padding: 2rem;
  display: flex;
  align-items: center;
}

#about_us_company_image {
  height: 15rem;
}

#about_position {
  display: flex;
  justify-content: center;
}


/* products */


#welcome_products {
  display: flex;
  align-items: center;
}

#welcome_product_image {
  height: 30rem;
}

#product_welcome_heading_and_text {
  background-color: #ffc851;
  padding: 2rem;
}

#products_sub-heading {
  color: black;
  text-align: left;
  padding-left: 2rem;
}

#products_welcome_text {
  padding-left: 2rem;
  padding-right: 4rem;
  text-align: left;
}

#heading_displayed_products {
  color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#product_price {
  color: #ffc851;
}

#watches_card_styling {
  border: none;
  height: 26rem;
  width: 20rem;
  border-radius: 0rem;
}

#product_line {
  border-bottom: 0.5px solid black;
  padding: 0.3rem;
  margin: 0rem 3rem 0rem;
}

#product_category {
  color: #2c3e5072;
}


#watches_cards_images_1 {
  border-radius: 0rem;
  height: 13rem;
}

#products_displaying {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}

#view_more_button {
  border: none;
  text-decoration: none;
  color: black;
}

#view_more_button:hover {
  color: #ffc851;
}



/* contact us */

#contact_page {
  display: flex;
  height: 68vh;
  margin: 1rem;
}

#get_in_touch {
  width: 30%;
  background-color: #ffc851;
  border: 1px solid black;
  border-right: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact_form {
  width: 70%;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact_us_logo {
  height: 10rem;
  width: 10rem;
}

#form_position {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#form_heading {
  padding: 0.5rem;
  color: #ffc851;
}

#form_submit_button {
  border: 0.1px solid #2c3e50;
  border-radius: 0rem;
}

#form_submit_button:hover {
  background-color: #ffc851;
}

#get_in_touch_form_text {
  padding: 1rem;
}




/* admin page */

#users_cards_images {
  height: 8rem;
}

#watches_cards_images {
  border-radius: 0rem;
  height: 6rem;
}

#all_buttons_display {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}

#search_button_style {
  background-color: transparent;
}

#search_button_style:hover {
  color: black;
  background-color: #ffc851;
}

#form_for_dropdown {
  width: 40rem;
}

#edit_button_dropdown {
  border: 0.1px solid #2c3e50;
}

#edit_button_dropdown:hover {
  background-color: #ffc851;
}

#button_for_function_admin {
  border: 0.1px solid #2c3e50;
}

#button_for_function_admin:hover {
  background-color: #ffc851;
}

#watches_table {
  display: flex;
  justify-content: center;
}

#users_table {
  display: flex;
  justify-content: center;
}

#headings_in_admin_page {
  color: #ffc851;
}

#button_for_add_1, #button_for_add_2 {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5rem;
  background-color: #ffc851;
}

#button_for_add_1:hover, #button_for_add_2:hover {
  color: #ffc851;
  background-color: black;
}

#button_for_add_1 {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#button_for_add_2 {
  position: fixed;
  bottom: 6.5rem;
  right: 2rem;
}

#add_button_dropdown {
  border: 0.1px solid #2c3e50;
}

#add_button_dropdown:hover {
  background-color: #ffc851;
}



/* displaying one product */


#view_once_image {
  height: 20rem;
  margin: 1rem;
  border-right: 1px solid black;
  padding-right: 2rem;
}

#view_one_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#text_view_once {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#heading_for_view_once {
  color: black;
}

#sub-heading_for_view_once {
  color: rgba(0, 0, 0, 0.458);
}

#price_for_view_once {
  color: #ffb413;
}


/* media queries */


@media (width< 1200px) {

  #everything_animated {
    animation-name: none !important;
  }
 
  #landing_page_text {
    animation-name: none !important;
  }

  #line_space {
    margin: 1rem 2rem 2rem;
  }
  #footer_positioning {
    display: block;
  }
  #links_for_footer {
    display: block;
    width: 100%;
    margin: auto;
  }

  
  #image_for_landing_page {
    display: block;
    padding: 2rem;
  }
  
  #landing_page_image {
    padding: 0.5rem;
  }

  #promo_and_sales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #deal_1 {
    margin: 1rem;
    width: 85%;
  }
  #deal_2 {
    width: 85%;
  }
  #watch_image_carousel {
    width: 100%;
    height: auto;
  }
  #sneak_peek {
    width: 100%;
    height: auto;
  }
  #carouosel_watch_div {
    display: none;
  }
  #media_query_image {
    display: block;
  }

  /* about */
  #about_us_paragraph {
    display: block;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
  }
  #images_of_leadership {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #partners {
    display: none;
  }
  #about_us_company_image {
    display: none;
  }
  #helpline_positioning {
    margin: 1rem;
  }


  /* products */
  #welcome_products {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #welcome_product_image {
    display: none;
  }
  #product_welcome_heading_and_text {
    margin: 1rem;
    padding: 1rem;
  }
  #heading_displayed_products {
    margin: 0.5rem;
  }
  #products_displaying {
    justify-content: center;
  }
  #all_buttons_display {
    display: flex;
    flex-direction: column;
 
  }
  #watches_cards_images {
    display: none;
  }
  #watch_url_media {
    display: none;
  }
  #product_edit_button {
    display: none;
  }
  #user_edit_button {
    display: none;
  }
  #contact_page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #get_in_touch {
    width: 85%;
    border: 1px solid black;
  }
  #form_position {
    display: flex;
    flex-direction: column;
  }
  #form_contact_input {
    width: 85%;
  }
  #contact_page {
    margin-bottom: 30rem;
  }
  
}



/* animations */

#flicker {
  animation-name: flicker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  50%{color: black;}
}

#flicker_1 {
  animation-name: flicker_1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flicker_1 {
  50%{color: black;}
}

#flicker_2 {
  animation-name: flicker_2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flicker_2 {
  50%{color:white;}
}

#landing_page_text {
  animation-name: line;
  animation-duration: 4s;
}

@keyframes line {
  0%{border-bottom: 1px solid; border-top: 1px solid; padding: 7rem;}
  100%{border-bottom: 1px solid; border-top: 1px solid; padding: 2rem;}
}

#about_us_company_image {
  animation-name: move_in;
  animation-duration: 2s;
  animation-iteration-count: ease-in;

}

@keyframes move_in {
  50%{padding: 5rem;}
}


#everything_animated {
  animation-name: faded;
  animation-duration: 2s;
  animation-iteration-count: ease-in;

}

@keyframes faded {
  50%{padding-left: 15rem;}
}
